#### 섹션1은 쉽게 지날 것 같음

#### 01 시리즈

In [1]:
import pandas as pd

###### ㅋㅋㅋ shape가 있었네

In [3]:
my_list = ["nirvana", "fooFighters", "GreenDay", "Offspring"]
sr = pd.Series(data = my_list)
sr.shape

(4,)

#### 유니크도 있긴한데 행기준으로 돌아가는 sr보다는 df에서 쓸만한 기능일 것이다.

In [6]:
sr.is_unique

True

##### 얘도 굳이 행 기준으로 돌아가는 sr에서 쓸일이 있을까...?
##### 타입이 numpy라는 거 정도만 기억하자

In [11]:
sr = pd.Series(data = [100, 200, 500, 1000, 5000])
print(sr.sum(), type(sr.sum()))
print(sr.product(), type(sr.product()))
print(sr.mean(), type(sr.mean()))

6800 <class 'numpy.int64'>
50000000000000 <class 'numpy.int64'>
1360.0 <class 'numpy.float64'>

##### 이건 아주 가끔 쓸만 하겠다.

In [12]:
sr.memory_usage()

168

### 다라삚

In [17]:
df = pd.read_csv('./data/sp500.csv')
df.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2015-01-02,2058.899902,2072.360107,2046.040039,2058.199951,2708700000,2058.199951
1,2015-01-05,2054.439941,2054.439941,2017.339966,2020.579956,3799120000,2020.579956
2,2015-01-06,2022.150024,2030.250000,1992.439941,2002.609985,4460110000,2002.609985
3,2015-01-07,2005.550049,2029.609985,2005.550049,2025.900024,3805480000,2025.900024
4,2015-01-08,2030.609985,2064.080078,2030.609985,2062.139893,3934010000,2062.139893

##### 뭐... 파이썬 기본 함수와 아까 보던 것들 되긴 한다

In [18]:
print(len(df))
print(max(df))
print(min(df))
print(df.shape)

252
Volume
Adj Close
(252, 7)

In [21]:
# df = pd.read_csv('./data/sp500.csv', squeeze=True) # <<< 에러남
# 판다스 2.0에서 사라진 파라미터임...
# https://stackoverflow.com/questions/76684141/why-am-i-getting-an-error-when-using-squeeze-keyword-in-read-csv
# 어쩐지 기본치고 처음봤음

#### 뭐지 이 게을러 지는 메소드는?

In [22]:
df.describe()

,Open,High,Low,Close,Volume,Adj Close
count,252.000000,252.000000,252.000000,252.000000,2.520000e+02,252.000000
mean,2061.268016,2071.862899,2049.336906,2061.067741,3.644994e+09,2061.067741
std,54.547528,50.389886,58.018454,54.885790,6.750428e+08,54.885790
min,1872.750000,1899.479980,1867.010010,1867.609985,5.362000e+08,1867.609985
25%,2034.245026,2050.245056,2022.237549,2035.212494,3.243620e+09,2035.212494
50%,2078.630004,2086.964966,2067.020019,2079.395019,3.576485e+09,2079.395019
75%,2101.605041,2108.432434,2091.502502,2101.152527,4.022002e+09,2101.152527
max,2130.360107,2134.719971,2126.060059,2130.820068,6.683070e+09,2130.820068

#### 아래와 같은 색인도 되기는 한다만 판다스스럽지 않은 느낌, 기억만 해두자

In [25]:
print(4460110000 in df.values)
print(4460110000 in df.index)
print(4460110000 in df)

True
False
False

#### 슬라이스 사용가능

In [29]:
df[0:5]

,Date,Open,High,Low,Close,Volume,Adj Close
0,2015-01-02,2058.899902,2072.360107,2046.040039,2058.199951,2708700000,2058.199951
1,2015-01-05,2054.439941,2054.439941,2017.339966,2020.579956,3799120000,2020.579956
2,2015-01-06,2022.150024,2030.250000,1992.439941,2002.609985,4460110000,2002.609985
3,2015-01-07,2005.550049,2029.609985,2005.550049,2025.900024,3805480000,2025.900024
4,2015-01-08,2030.609985,2064.080078,2030.609985,2062.139893,3934010000,2062.139893