##### 시간데이터에 관해 따로 다루는 거 보면 많이 사용하는 듯 하다?

In [1]:
import pandas as pd
import datetime as dt # < 올

In [4]:
my_date = dt.date(2020, 3, 22)
print(my_date)
print(type(my_date))
print(str(my_date))
print(type(str(my_date)))

2020-03-22
<class 'datetime.date'>
2020-03-22
<class 'str'>

#### 미..쿸사람이군 (아 그렇다고 22-03-2020 이렇게 프린트되느,ㄴ건 아님)

In [8]:
print(my_date.day)
print(my_date.month)
print(my_date.year)
# print(my_date.hour)
# print(my_date.minutes)

22
3
2020

#### 클래스가 하나더 있지롱

In [13]:
my_datetime = dt.datetime(2020, 3, 22, 8, 20, 50)
print(type(my_datetime))
print(str(my_datetime))
print(type(str(my_datetime)))

<class 'datetime.datetime'>
2020-03-22 08:20:50
<class 'str'>

In [14]:
print(my_datetime.day)
print(my_datetime.month)
print(my_datetime.year)
print(my_datetime.hour)
print(my_datetime.minute)

22
3
2020
8
20

#### 일단 문자열로 넣고나서 (dtype: object)

In [18]:
dates = pd.Series(["2020/03/22", "2020-08-25", "March 22nd, 2020"])
print(dates)

0          2020/03/22
1          2020-08-25
2    March 22nd, 2020
dtype: object

어라??

In [27]:
# dates = pd.to_datetime(dates)
# dates
# '''
# time data "2020-08-25" doesn't match format "%Y/%m/%d", at position 1. You might want to try:
#     - passing `format` if your strings have a consistent format;
#     - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
#     - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.
# '''

In [28]:
# dates = pd.Series(["2020/03/22", "2020/08/25", "March 22nd, 2020"])
# dates = pd.to_datetime(dates)

##### 생각해보면 지난섹션에서 봤던 변화는 하나포맷만 변경했던것 같다. 그러니까 아래는 절대 에러가 안난다.

In [26]:
dates = pd.Series(["2020/03/22", "2020/08/25", "2022/03/22"])
dates = pd.to_datetime(dates)
print(dates.dtype)

dates = pd.Series(["2020-03-22", "2020-08-25", "2022-03-22"])
dates = pd.to_datetime(dates)
print(dates.dtype)

dates = pd.Series(["March 22nd, 2020", "August 25nd, 2020", "March 22nd, 2020"])
dates = pd.to_datetime(dates)
print(dates.dtype)

datetime64[ns]

#### 공식문서에 잘 설명 되어 있음
##### https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

In [32]:
dates = pd.Series(["2020/03/22", "2020-08-25", "March 22nd, 2020"])
dates = pd.to_datetime(dates, format='mixed') # <<<< 힌트!
dates

0   2020-03-22
1   2020-08-25
2   2020-03-22
dtype: datetime64[ns]

##### 이제는 pandas의

In [34]:
ts = pd.Timestamp('2020, 3, 22')
print(ts)
print(type(ts))

2020-03-22 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [35]:
ts = pd.Timestamp('2020, 3, 22, 10')
print(ts)
print(type(ts))

2020-03-22 10:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

##### 이정도 똑똑하면 좋긴하지?

In [38]:
day_1 = pd.Timestamp('1989, 6, 21, 10')
day_2 = pd.Timestamp('2024, 7, 13, 20')
delta = day_2-day_1
print(delta)

12806 days 10:00:00

##### datetime을 그대로 가져오면

In [43]:
date_1 = dt.date(2020, 3, 22)
date_2 = dt.date(2020, 4, 22)
date_3 = dt.date(2020, 5, 22)
dates_list = [date_1, date_2, date_3]

# 재밌는건, DatetimeIndex의 상위 클래스는 DatetimeTimedeltaMixin이라는 것 이거 말고 또다른 Index를 찾을 수 있을까?
dates_index = pd.DatetimeIndex(dates_list) 
print(dates_index)
print(type(dates_index))

DatetimeIndex(['2020-03-22', '2020-04-22', '2020-05-22'], dtype='datetime64[ns]', freq=None)
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

##### 음 뭘하려는 거지?

In [46]:
sales = [50, 55, 60]
sales = pd.Series(data = sales, index = dates_index) # Series constructor method
sales

2020-03-22    50
2020-04-22    55
2020-05-22    60
dtype: int64

##### 날짜를 생성하는 것이긴 한데, Dataframe에서 쓸만한 이유는 아직 모르겠음

In [48]:
my_days = pd.date_range(start = "2020-01-01", end = "2020-04-01", freq = "D")
my_days

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-01',
               '2020-02-02', '2020-02-03', '2020-02-04', '2020-02-05',
               '2020-02-06', '2020-02-07', '2020-02-08', '2020-02-09',
               '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13',
               '2020-02-14', '2020-02-15', '2020-02-16', '2020-02-17',
               '2020-02-18', '2020-02-19', '2020-02-20', '2020-02-21',
               '2020-02-22', '2020-02-23', '2020-02-24', '2020-02-25',
               '2020-02-26', '2020-02-27', '2020-02-28', '2020-02-29',
               '2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12',
               '2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16',
               '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20',
               '2020-03-21', '2020-03-22', '2020-03-23', '2020-03-24',
               '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-28',
               '2020-03-29', '2020-03-30', '2020-03-31', '2020-04-01'],
              dtype='datetime64[ns]', freq='D')

##### 끝을 이렇게 지정도 가능

In [49]:
pd.date_range(start = "2020-01-01", periods = 20, freq = "D")

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20'],
              dtype='datetime64[ns]', freq='D')

#### 검색을 해보자

In [51]:
avocado_df = pd.read_csv('./data/avocado.csv')
avocado_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          18249 non-null  object
 1   AveragePrice  18249 non-null  float64
 2   Total Volume  18249 non-null  float64
 3   type          18249 non-null  object
 4   region        18249 non-null  object
dtypes: float64(2), object(3)
memory usage: 713.0+ KB

##### Date가 날짜인것을 확인했으니

In [53]:
avocado_df['Date'] = pd.to_datetime(avocado_df['Date'])
avocado_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          18249 non-null  datetime64[ns]
 1   AveragePrice  18249 non-null  float64
 2   Total Volume  18249 non-null  float64
 3   type          18249 non-null  object
 4   region        18249 non-null  object
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 713.0+ KB

##### 그리고 인덱스로도 지정하자

In [54]:
avocado_df.set_index(keys = ["Date"], inplace = True)
avocado_df.head()

            AveragePrice  Total Volume          type  region
Date
2015-12-27          1.33      64236.62  conventional  Albany
2015-12-20          1.35      54876.98  conventional  Albany
2015-12-13          0.93     118220.22  conventional  Albany
2015-12-06          1.08      78992.15  conventional  Albany
2015-11-29          1.28      51039.60  conventional  Albany

##### 이건 예상

In [57]:
avocado_df.loc["2018-01-21"].head()

            AveragePrice  Total Volume          type               region
Date
2018-01-21          1.69     135196.35  conventional               Albany
2018-01-21          1.10     639421.29  conventional              Atlanta
2018-01-21          1.18    1102213.13  conventional  BaltimoreWashington
2018-01-21          1.25      88727.77  conventional                Boise
2018-01-21          1.12     999783.13  conventional               Boston

##### 이건 좀 편할 것 같다. (그런데 이정도의 데이터를 관리해야하는 상황이면이미 DB가 구축되어 있을거 같은데 ㅋㅋㅋㅋㅋㅋㅋ)

In [60]:
print(avocado_df.loc["2015-01-04":"2015-01-25"].__len__())
print(avocado_df.loc["2015-01-04":"2015-09-26"].__len__())

432
4104

##### 날짜를 shift할 수도 있다. 음...

In [63]:
pd.DateOffset(months = 12, days = 30)

In [64]:
avocado_df.index = avocado_df.index + pd.DateOffset(months = 12, days = 30)
avocado_df

            AveragePrice  Total Volume          type            region
Date
2018-02-25          1.33      64236.62  conventional            Albany
2018-02-18          1.35      54876.98  conventional            Albany
2018-02-11          0.93     118220.22  conventional            Albany
2018-02-04          1.08      78992.15  conventional            Albany
2018-01-28          1.28      51039.60  conventional            Albany
...                  ...           ...           ...               ...
2020-04-05          1.63      17074.83       organic  WestTexNewMexico
2020-03-28          1.71      13888.04       organic  WestTexNewMexico
2020-03-21          1.87      13766.76       organic  WestTexNewMexico
2020-03-14          1.93      16205.22       organic  WestTexNewMexico
2020-03-07          1.62      17489.58       organic  WestTexNewMexico

[18249 rows x 4 columns]